.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
  height: 30vw;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 1px black solid;
  border-radius: 5px;
  margin: 2em;
  padding: 2em;
  aspect-ratio: 1 / 2;

  @media screen and (max-width: 1000px) {
    padding: 1.5em;
  }

  @media screen and (max-width: 800px) {
    padding: 1em;
  }
}

.item {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  font-size: 2em;
}

.item:nth-child(2) {
  text-align: right;
}

.item:nth-child(3) {
  align-self: flex-end;
}

.item:last-child {
  text-align: right;
  align-self: flex-end;
}

.red {
  color: red;
}
